*{
    margin: 0;
    padding: 0;
}
.top{
    background-image:
    linear-gradient(to bottom, rgba(23, 23, 24, 0.33), rgba(152, 127, 144, 0.62)),
    url('images/gettyimages-1227803127-612x612.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 600px;
}
.main{
    position: fixed;
    width: 516px;
    color: white;
    margin: 120px 0 8px 158px;
}
.main > h1{
    font-size: 3rem;
    margin: 5px 0;
}
.main > p{
    font-size: 18px;
    margin: 8px 0;
}
.top-btn{
    width: 150px;
    font-size: 18px;
    padding: 13px;
    margin: 10px 0;
    background-color:rgba(255, 0, 0, 0.907);
    border: 1px solid red;
    color: white;
    border-radius: 8px;
    font-weight: bold;
}
.top-btn:hover{
    border: 1px solid white;
    cursor: pointer;
    color: black;
    background-color: white;
}